

.livro__title{
    font-weight: bold;
  }
  
  .livro__box{
    margin: 0.3rem;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
    transition: transform 220ms ease-in-out;

    border-radius: 1rem;

    overflow: hidden
  }
  
  .livro__box:hover{
    transform: scale(1.05);
  }
  
  .livro__content__box{
    padding: 0.9rem
  }
  
  .livro__box img{
    max-width: 100%;
  }

  .livro__category{
    padding: 0.6rem;
    background-color: #eee;
    border-radius: 0.9rem;
    font-size: 0.8rem
  }