.livros__content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.livros__container {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.loader__container{
  width: 100%;
  height: calc(100% - 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
}