
.book__form__error{
    font-size: 0.9rem;
    text-align: left;
    width: 100%;
    margin: 0;
    color: white
  }

  .box__form__container{
    display: flex;
    flex-direction: column;
  }

  .box__form__field {
    width: 20rem;
    height: 2.5rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: none;
    outline: none;
  }
  
  .box__form__field::placeholder {
    color: #1c1c1cb7;
    font-style: italic;
  }
  
  .box__form__field:focus {
    background-color: lightgray;
  }